
.container{
    margin: 50px auto;
}

.search{
    margin: 40px 65%;
}

ul{
    list-style-type: none;
}

#optionSelect{
    margin: 0 0 20px 0;
}

body{
    background: rgb(228,228,228);
}

.subtitle{
    margin-bottom: 4%;
}

.list-group-item{
    width: 50%;
    margin-top: 30px;
}

.copy{
    margin-left: 4%;
}

.question{
    width: 30%;
}
.vote {
    margin-top: 30px;
}

.radio{
    margin-top: 1%;
}

.form-check-label{
    font-size: 1.1rem;
    font-weight: 600;
}

.button_group{
    margin-left: 15%;
    margin-top: 4%;
}

.canvas{
    margin-bottom: 3%
}

#total{
    margin-bottom: 3%;
}
